@import "../../mixins/mixin.scss";

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    margin: 3rem auto;
    border-radius: 0.6rem;
    box-shadow: 0 0.8rem 2rem rgba(#5a6181, 0.05);
    max-width: 400px;
    background: rgba(255, 255, 255, 0.05);

    &__numbers,
    &__btn,
    &__dots {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.8rem;
        font-size: 1.4rem;
        cursor: pointer;
    }

    &__dots {
        width: 1.6rem;
        height: 1.6rem;
        color: #23adade1;
        cursor: initial;
    }

    &__numbers {
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 0.4rem;

        &:hover {
            color: #23adad;
        }

        &.active {
            color: #ffffff;
            background: #23adad;
            font-weight: 600;
            border: 1px solid #23adad;
        }
    }

    &__btn {
        color: #23adade1;
        pointer-events: none;
        cursor: pointer;

        &.active {
            color: #2d4848;
            pointer-events: initial;

            &:hover {
                color: #23adad;
            }
        }
    }
}
